main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  
  display:flex;
  justify-content:center;
  
  padding-top: 30px;
  border:1px solid lightgray;
  margin-top:15px;
}

.calculator-box{
  width:460px;
  height:680px;
  
  border:1px solid lightgray;
}


.display-field{
  height: 16%;
  border:0.1px solid lightgray;
}

.col{
  width:110px;
  height:110px;
  border:1px solid lightgray;
 
  display:inline-block;
}

#zero{
  
  width:226px;
  height:110px;
  border:0.1px solid lightgray;
}

#dot{
  
  width:110px;
  height:110px;
  border:0.1px solid lightgray;
}

.zero-dot{
  display:flex;
  justify-content: space-between;
  align-self: auto;
}

#ac{
  width:226px;
}

#equal{
  
 height:220px;
  width:110px;
  border:1px solid lightgray;
}
.number-row-1{
  display:flex;
  justify-content: space-between;
  height: 16%;
  border:0px solid lightgray;
  text-align: center;
}

.number-row-2{
  display:flex;
  justify-content: space-between;
  height: 16%;
  border:0px solid lightgray;
  text-align: center;
}

.number-row-3{
  
  height: 16%;
  display:flex;
  justify-content: space-between;
  
  text-align: center;
}

.number-row-4{
  display:flex;
  justify-content: space-between;
  height:220px;
  border:0.1 solid lightgray;
  text-align: center;
}



.lower-portion-left{
  height:220px;
  width:342px;
  
}

.lower-num-portion{
  display:flex;
  justify-content: space-between;
}
.col-num{
  width:110px;
  height:110px;
  border:1 solid lightgray;
}
.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}